<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820357106054-oa6134vfub5gcdvlpn3ugiakhpppb7as.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820357106054-oa6134vfub5gcdvlpn3ugiakhpppb7as</string>
	<key>API_KEY</key>
	<string>AIzaSyDvv57v0C2-djKQXp25CpT7ypH-QamlvFw</string>
	<key>GCM_SENDER_ID</key>
	<string>820357106054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fixflex</string>
	<key>PROJECT_ID</key>
	<string>flixfelx-e1229</string>
	<key>STORAGE_BUCKET</key>
	<string>flixfelx-e1229.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820357106054:ios:c7a527fa9d07327a8ac407</string>
</dict>
</plist>